<style>
  .explore {
    font-size: larger;
  }
  .search-btn {
    background-color: fuchsia;
    color: #fff;
    font-weight: 600;
    border-radius: 25px;
    padding: 0 1rem;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  .search-btn:hover {
    background-color: fuchsia;
    color: #fff;
    transform: scale(1.05);
  }
  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem;
    font-size: 1rem;
  }
  nav {
    background-color: #0f1014 !important;
  }
</style>

<nav
  class="navbar navbar-expand-md border-bottom sticky-top"
  style="border-color: black !important"
>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr">
        <span class="explore">
          <a class="navbar-brand" href="/listings">
            <svg
              class="svgIcon"
              viewBox="0 0 512 512"
              height="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm50.7-186.9L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"
              ></path>
            </svg>
            <span class="navbar-brand-span">
              <i
                class="fa-solid fa-g"
                style="color: #a47cf3; font-size: x-large"
              ></i
              ><i
                class="fa-solid fa-strikethrough"
                style="color: #a47cf3; font-size: x-large"
              ></i>
            </span>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </span>
      </div>
      <div class="navbar-nav ms-auto">
        <form
          class="d-flex"
          role="search"
          action="/listings/search"
          method="get"
        >
          <input
            class="form-control me-2 search-inp"
            type="search"
            placeholder="Search destinations"
            name="key"
          />
          <button class="btn bttn ml-1">
            <svg
              height="20"
              width="24"
              fill="#FFFFFF"
              viewBox="0 0 24 24"
              data-name="Layer 1"
              id="Layer_1"
              class="sparkle"
            >
              <path
                d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"
              ></path>
            </svg>

            <span class="text">Search</span>
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto auth">
        <% if(!currUser) {%>
        <a class="btn-new pad1" href="/signup"><b>Sign up</b></a>
        <a class="btn-new pad2" href="/login"><b>Log in</b></a>
        <% } %> <% if(currUser) {%>
        <a class="btn-new pad1" href="/logout"><b>Log out</b></a>
        <div class="dropdown">
          <button
            class="btn dropdown-btn dropdown-box"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%= currUser.username %>
          </button>
          <ul class="dropdown-menu">
            <li>
              <button class="dropdown-item" type="button">My Account</button>
            </li>
            <li>
              <button class="dropdown-item" type="button">Subscription</button>
            </li>
            <li>
              <button class="dropdown-item" type="button">Watchlist</button>
            </li>
          </ul>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>
