body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */

.navbar {
  height: 5rem;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.new {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  padding: 1rem 0 1rem 0;
}
.new span {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10rem;
}
.new span a {
  color: inherit;
  text-decoration: none !important;
  font-size: 17px !important;
  font-weight: 400 !important;
  text-transform: none !important;
}

/* Footer */

.f-info-links a {
  text-decoration: none;
  color: white;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: white;
}
.f-info-brand {
  color: white;
}
.f-info {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 8rem;
  /* border-color:black !important; */
}

/* slideshow */

.mySlides {
  display: none;
  position: relative;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  margin-bottom: 5rem;
  margin-top: 1rem;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 39%;
  width: auto;
  padding: 16px;
  margin-top: 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 133px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.show-info {
  display: inline-block;
}

.gray {
  background-color: gray;
  border-radius: 0.4rem;
  padding: 0.05rem;
}

.banner {
  width: 83vw;
  height: 70vh;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.show-img {
  position: absolute;
  bottom: 270px;
  left: 35px;
  background-color: transparent;
}
.doSmall {
  width: 350px !important;
  height: 50px !important;
}

.info {
  color: white;
  position: absolute;
  bottom: 170px;
  left: 50px;
}

.show-category {
  color: white;
  position: absolute;
  bottom: 140px;
  left: 60px;
}

.watch {
  font-weight: 500;
  font-size: larger;
  border-radius: 0.8rem;
  border: none;
  width: 15rem;
  padding: 1rem;
  background-color: white;
  position: absolute;
  bottom: 80px;
  left: 60px;
}

.watch-link {
  text-decoration: none;
  color: black;
}

/* changes */

/* search button */

.bttn {
  border: none;
  width: 200px;
  height: 45px;
  border-radius: 3em;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1c1a1c;
  cursor: pointer !important;
  transition: all 450ms ease-in-out !important;
  border: 1px solid #aaa !important;
}

.sparkle {
  fill: #aaaaaa;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #aaaaaa;
  font-size: medium;
}

.bttn:hover {
  background: linear-gradient(0deg, #a47cf3, #683fea);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #9917ff;
  transform: translateY(-2px);
  border: none !important;
}

.bttn:hover .text {
  color: white;
}

.bttn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
}

.ml-1 {
  margin-left: 1rem;
}

/* sign up login */

.btn-new {
  background-color: transparent !important;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid #aaa;
  font-family: inherit;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  margin-left: 1rem;
  text-decoration: none !important;
  height: 40px;
}
.pad1 {
  padding: 8px 15px 12px 25px;
  width: 120px;
}
.pad2 {
  padding: 8px 20px 12px 20px;
  width: 100px;
}

.btn-new::before,
.btn-new::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #a47cf3;
  transition: 1s ease;
}

.btn-new::before {
  top: -1em;
  left: -1em;
}

.btn-new::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.btn-new:hover::before,
.btn-new:hover::after {
  height: 410px;
  width: 410px;
}

.btn-new:hover {
  color: rgb(10, 25, 30) !important;
  border: none;
}

.btn-new:active {
  filter: brightness(0.8);
}

.auth {
  margin-right: 2rem;
}

/* explore */

.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.navbar-brand-span {
  display: flex;
  align-items: center;
}

.explore {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: transparent;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding-left: 18px;
  transition-duration: 0.5s;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(24, 24, 24);
}

.explore:hover {
  background-color: white !important;
  color: black;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  transition-duration: 0.5s;
}

.explore:active {
  transform: scale(0.97);
  transition-duration: 0.2s;
}

.explore:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}
.mr {
  margin-right: 150px;
}

.btn-outlined {
  border: 1px solid #aaa !important;
  color: #aaa !important;
}

.btn-outlined:hover {
  border: none;
}

.title {
  color: white !important;
  font-size: 40px !important;
  text-transform: capitalize;
  text-align: center;
  width: 100% !important;
  background: #0f1014;
  border-bottom: 1px solid #dee2e6;
}

.card-container {
  padding-left: 6rem !important;
  gap: 75px !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 0 !important;
  justify-content: center;
  width: 224px !important;
}

.card-title {
  text-align: center;
  height: 58px !important;
}

@media (max-width: 575.98px) {
  .card-body {
    align-items: center;
  }
}

.category {
  font-size: 28px !important;
  color: white !important;
  text-transform: capitalize !important;
}

.cat-btn .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cat-btn:hover .second {
  transition: 0.5s;
}

.second {
  width: 20px;
  position: relative;
  top: -4%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cat-btn:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cat-btn:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cat-btn:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

.adjust1 {
  width: 300px !important;
}

.adjust2 {
  width: 150px !important;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #a47cf3 !important;
  }

  100% {
    fill: white;
  }
}
